<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>sandwiches!!</title>
</head>
<body>
    <h1>My Sandwiches</h1>

    <form action="sandwiches.html" th:action="${'/saveSandwich'}" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="name" />
        <br />
        <label>Description</label>
        <textarea name="description"></textarea>

        <button>Save it!</button>

    </form>

    <ul>
        <li th:each="sandwich : ${sandwiches}" >
            <span th:text="${sandwich.name}">Ham Sandwich</span>
            <span>[<a href="sandwiches.html" th:href="${'/delete?id=' + sandwich.id}">X</a>]</span>
        </li>
        <li th:remove="all">Turkey Sandwich [<a href="sandwiches.html">X</a>]</li>
        <li th:remove="all">Sunbutter and Jelly Sandwich [<a href="sandwiches.html">X</a>]</li>
    </ul>
</body>
</html>